.emptyCardContainer {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.emptyCardContainer h1 {
    font-size: 1.4rem;
}