.applicationGroupedListContainer {
    width: 90%;
    height: 82%;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 10px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px 0px;
}

.applicationGroupedListContainer table {
    min-width: 100%;
}

.applicationGroupedContainer {
    width: 96%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 20px;
}

.applicationGroupedContainer span {
    margin-bottom: 5px;
    width: 100%;
    height: auto;
    border-radius: 3px;
    padding: 5px 6px;
    font-size: 15px;
}

.applicationListNoItem {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.applicationListNoItem h1 {
    font-size: 23px;
    font-weight: 500;
    margin-left: 10px;
}

.applicationGroupedListContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.applicationGroupedListContainer::-webkit-scrollbar {
    width: 1px;
    background-color: #F5F5F5;
}

.applicationGroupedListContainer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(122, 5, 5, 0.9);
    background-color: #555;
}